* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.bigbody {
  width: 100vw;
  height: 100vh;
  background-color: aliceblue;
}
.head {
  width: 100vw;
  height: 8vh;
  background-color: rgb(53, 53, 53);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.dundbody {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.mid {
  width: 25vw;
  height: 100vh;
  background-color: aliceblue;
  padding-top: 20vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
input {
  width: 15vw;
  height: 38px;
  border-radius: 20px;
  border-bottom: 1px;
  padding: 10px;
}
button {
  width: 15vw;
  height: 38px;
  border-radius: 20px;
}
.gots {
  background-color: rgb(34, 108, 255);
  border-color: rgb(34, 108, 255);
}
h1 {
  color: rgb(255, 255, 255);
  padding-left: 30px;
}
h2 {
  color: white;
}
